<br />

<h2>Схема БД</h2>
<p><span style="font-weight: bold;color: green">Help! </span>Первоначально БД имела вид представленный на рисунке, но в процессе разработки названия некоторых полей были немного изменены.</p>
<center><img src="~/jpg/diag.jpg" /></center>


<style>
    img {
        width: 80%;
    }

    center {
        margin-bottom: 20px;
    }
</style>
