<br />
<h2>Пошаговая разработка проекта</h2>
<p>Проект разработ с помощью фреймворка Asp.NET Core. В данном проекте представлена реализация запросов к базе данных "Education", разработанная в предыдущем проекте. <a href="https://github.com/sarancha1331/MyEducationDB">Ссылка на гит(предыдущий проект)</a>. Прошлое проектной решение было выполнено в виде несколько файлов с использованием PHP(статический класс соединения + класс с реализацией запросов).</p>
<h4>Начальные настройки</h4>
<ul>
    <li>Создание проекта</li>
    <li>Создание сущностей</li>
    <li>Подключение необходимых NuGet пакетов</li>
</ul>
<center><img src="~/jpg/1.jpg" /></center>

<h4>Создание базы данных(миграции)</h4>
<ul>
    <li>Описываем DbSet</li>
    <li>Добавляем каждой сущности ключевое поле Id</li>
    <li>Создаём миграцию</li>
</ul>
<center><img src="~/jpg/2.jpg" /></center>

<h4>Подключаем MS-SQL</h4>
<ul>
    <li>Подключаемся к нашей БД через MS-SQL</li>
    <li>Проверяем результат выполненной миграции</li>
</ul>
<center><img src="~/jpg/3.jpg" /></center>

<h4>Подключаем Sourcetree</h4>
<ul>
    <li>Создаём репозиторий</li>
    <li>Пушим изменения</li>
</ul>
<center><img src="~/jpg/4.jpg" /></center>

<h4>Редактирование сущностей</h4>
<ul>
    <li>Сделали комит в git</li>
    <li>Исправили DbSet (названия)</li>
    <li>Создали поля и внешние ключи у сущностей</li>
    <li>Применили миграцию</li>
</ul>
<center><img src="~/jpg/5.jpg" /></center>

<h4>Создание generic</h4>
<ul>
    <li>Убираем у всех сущностей ключевое поле Id</li>
    <li>Создаём класс BaseEntity с единственным полем Id</li>
    <li>Наследуем все сущности от BaseEntity</li>
</ul>
<center><img src="~/jpg/6.jpg" /></center>

<h4>Доработка архитектуры</h4>
<ul>
    <li>Применяем новую миграцию</li>
    <li>Создаём главный сервис</li>
    <li>Создаём репозитории</li>
    <li>Создаём интерфейсы</li>
</ul>
<center><img src="~/jpg/7.jpg" /></center>

<h4>Создаём первый запрос в БД</h4>
<ul>
    <li>Создаём первый запрос на вывод автомобилей</li>
    <li>Проверяем всё ли работает</li>
    <li>Делаем комит</li>
</ul>
<center><img src="~/jpg/8.jpg" /></center>

<h4>Реализация частичных представлений</h4>
<ul>
    <li><span style="color: green">Help! </span>Частичное представление - представление данных таблиц БД без отображения FK</li>
    <li>Создаём модели частичных представлений, которые будут сформированы и возвращены клиенту</li>
    <li><span style="color: orange">Комментарий! </span> На данном этапе проекта демонстрируется работа generic. Имея сущность - родитель BaseEntity, мы создаём только 1 репозиторий с единственным шаблонным методом</li>
    <li>Добавляем для каждого представления свою страницу (View)</li>
    <li>Делаем комит</li>
</ul>
<center><img src="~/jpg/9.jpg" /></center>

<style>
    img {
        width: 80%;
    }

    center {
        margin-bottom: 20px;
    }
</style>
