@{
    int i = 1;
}
<br />
<h4>Таблица событий</h4>

<p><span style="font-weight: bold;color: green">Help! </span>Вывод данных таблицы без связных с ней элементов(FK)</p>
<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Дата события</th>
            <th>Название</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in ViewBag.Result){
        <tr>
            <td><p>@i</p></td>
            <td><p>@item.DataEvent</p></td>
            <td><p>@item.NameEvent</p></td>
        </tr>
        i++;
        }
    </tbody>
</table>
