<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarsExample03">
            <div class="container">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/Index">Разработка <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Unit тесты</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">База данных</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <a class="dropdown-item" href="/Home/Diagram">Схема</a>
                            <a class="dropdown-item" href="#">Запросы</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Частичное представление</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <a class="dropdown-item" href="/Partial/Avto">Авто</a>
                            <a class="dropdown-item" href="/Partial/AvtoPark">Автопарк</a>
                            <a class="dropdown-item" href="/Partial/Event">События</a>
                            <a class="dropdown-item" href="/Partial/Employee">Сотрудники</a>
                            <a class="dropdown-item" href="/Partial/Experience">Стаж</a>
                            <a class="dropdown-item" href="/Partial/Federation">Федерация</a>
                            <a class="dropdown-item" href="/Partial/Olimpic">Олимпиады</a>
                            <a class="dropdown-item" href="/Partial/OtherPersonal">Др. персонал</a>
                            <a class="dropdown-item" href="/Partial/Position">Должность</a>
                            <a class="dropdown-item" href="/Partial/Salary">Зарплата</a>
                            <a class="dropdown-item" href="/Partial/School">Школа</a>
                            <a class="dropdown-item" href="/Partial/Sport">Виды спорта</a>
                            <a class="dropdown-item" href="/Partial/Sportsman">Спортсмены</a>
                            <a class="dropdown-item" href="/Partial/Student">Студенты</a>
                            <a class="dropdown-item" href="/Partial/Teacher">Учителя</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Полное представление</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <a class="dropdown-item" href="/Supplemented/Avto">Авто</a>
                            <a class="dropdown-item" href="/Supplemented/AvtoPark">Автопарк</a>
                            <a class="dropdown-item" href="/Supplemented/Event">События</a>
                            <a class="dropdown-item" href="/Supplemented/Employee">Сотрудники</a>
                            <a class="dropdown-item" href="/Supplemented/Experience">Стаж</a>
                            <a class="dropdown-item" href="/Supplemented/Federation">Федерация</a>
                            <a class="dropdown-item" href="/Supplemented/Olimpic">Олимпиады</a>
                            <a class="dropdown-item" href="/Supplemented/OtherPersonal">Др. персонал</a>
                            <a class="dropdown-item" href="/Supplemented/Position">Должность</a>
                            <a class="dropdown-item" href="/Supplemented/Salary">Зарплата</a>
                            <a class="dropdown-item" href="/Supplemented/School">Школа</a>
                            <a class="dropdown-item" href="/Supplemented/Sport">Виды спорта</a>
                            <a class="dropdown-item" href="/Supplemented/Sportsman">Спортсмены</a>
                            <a class="dropdown-item" href="/Supplemented/Student">Студенты</a>
                            <a class="dropdown-item" href="/Supplemented/Teacher">Учителя</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Структура проекта</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Git</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
